.catalog-genres-item {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.catalog-genres-item button {
    border: 2px solid rgb(67,184,8);
    border-radius: 10px;
}

.catalog-genres-item button:hover {
    color: rgb(255,255,255);
    background: rgb(67,184,8);
}

.catalog-genres-item-active{
    color: rgb(255,255,255);
    background: rgb(67,184,8);
}
