.my-profile-settings-password-change {
  padding: 0 5px;
}

.my-profile-settings-password-change section h3 {
  width: 98%;

  font-family: "Times New Roman", Times, serif;
  font-size: 20px;

  text-align: center;
  padding: 20px 0;
  margin: 0 auto;

  border-bottom: 1px solid lightgrey;
}

.my-profile-settings-password-change section form {
  display: grid;
  grid-template-columns: 15px 80px 200px 15px;
  grid-template-rows: repeat(5, 1fr);
  padding: 20px 0;
  justify-content: center;
}

.my-profile-settings-password-change section form input {
  border: 2px solid lightgrey;
  border-radius: 4px;
}

.my-profile-settings-password-change section form label:nth-child(1) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.my-profile-settings-password-change section form input[id="new_password"] {
  grid-column: 3/4;
  grid-row: 1/2;
}

.my-profile-settings-password-change section form input[id="new_password"] + p {
  grid-column: 2/4;
  grid-row: 2/3;

  font-size: 14px;
  color: red;
}

.my-profile-settings-password-change section form label:nth-child(4) {
  grid-column: 2/3;
  grid-row: 3/4;
}

.my-profile-settings-password-change section form input[id="confirm_password"] {
  grid-column: 3/4;
  grid-row: 3/4;
}

.my-profile-settings-password-change
  section
  form
  input[id="confirm_password"]
  + p {
  grid-column: 2/4;
  grid-row: 4/5;

  font-size: 14px;
  color: red;
}

.my-profile-settings-password-change section form button[type="submit"] {
  grid-column: 3/4;
  grid-row: 5/6;

  padding: 0 20px;
  justify-self: end;

  color: white;
  border-radius: 4px;
  background: lawngreen;
  border: lawngreen;
}

.my-profile-settings-password-change section form button[type="button"] {
  grid-column: 3/4;
  grid-row: 5/6;

  padding: 0 10px;
  justify-self: center;

  border-radius: 4px;
  border: 2px solid lightgrey;
}
