@media(min-width:768px) {
    .catalog-content {
      padding: 20px;  
    }
    .catalog-content ul{          
      grid-template-columns: repeat(4,1fr);
      grid-auto-rows: min-content;     
      gap: 20px;
  }  
}
