.catalog-genres, .catalog-genres ul{
    display: grid;
    grid-template-columns: 310px;
    grid-auto-columns: min-content;
    justify-content: center;
}

.catalog-genres {
    width: 100%;
    row-gap: 10px;
    padding: 10px;
}

.catalog-genres section {
    width: 100%;
    text-align: center;
}

.catalog-genres ul{
    row-gap: 5px;
}

