.header-nav {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 90px 90px 1fr;
}

.header-nav p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

.header-nav-catalogue {
   grid-column: 1/2;
   justify-self: start;
   align-self: center;
   background-color: lawngreen;
   padding: 5px;
   border-radius: 4px;
}

.header-nav-my-profile {
  grid-column: 2/3;
  justify-self: start;
  align-self: center;
}

.header-nav-login {
  grid-column: 3/3;
  justify-self: end;
  align-self: center;
}