.my-profile-info-panel section {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 30px;
  align-items: center;
  background: lawngreen;
  border-radius: 4px 4px 0 0;
}

.my-profile-info-panel section svg {
  justify-self: center;
  width: 20px;
  height: 20px;

  fill: lawngreen;
  background: white;
  border-radius: 50%;
  border: 1px solid white;
}

.my-profile-info-panel section h3 {
  justify-self: start;
  color: white;
}
