.catalog-info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;  
  padding: 10px; 
}
 
.catalog-info p {
  justify-self: center;  
}
.catalog-info span {   
  color: rgb(65,187,1);
}